body{
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
}

/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
}

.navbar h2{
  color:#8b5cf6;
}

.navbar ul{
  display:flex;
  gap:30px;
  list-style:none;
}

.navbar li{
  cursor:pointer;
}

/* HERO */

.hero{
  min-height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero-content{
  max-width:900px;
}

.hero h1{
  font-size:4rem;
  margin-bottom:20px;
}

.hero span{
  color:#8b5cf6;
}

.hero p{
  font-size:1.2rem;
  color:#cbd5e1;
  margin-bottom:30px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:15px;
}

.primary-btn{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:#8b5cf6;
  color:white;
  cursor:pointer;
}

.secondary-btn{
  padding:12px 25px;
  border:1px solid white;
  border-radius:10px;
  background:transparent;
  color:white;
  cursor:pointer;
}